:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: url('/bg-mobile.svg') no-repeat, hsl(224, 61%, 15%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--pale-blue);
}

img {
  display: block;
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.main {
  --padding-x: 1.5rem;
  max-width: calc(920px + var(--padding-x) * 2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 var(--padding-x);
}

.card-company,
.card-usage {
  background-color: var(--dark-blue);
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
}

.card-company {
  padding: 2.5rem;
  border-radius: 10px 100px 10px 10px;
}

.card-icons {
  margin-top: 2.0625rem;
  display: flex;
  gap: 1rem;
}

.card-icons-item {
  background-color: var(--very-dark-blue);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card-usage {
  border-radius: 10px;
  padding: 2rem;
  padding-bottom: 3.25rem;
  text-align: center;
  position: relative;
}

.card-usage-text {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
}

.progress-bar {
  margin-top: 1rem;
  background-color: hsl(228, 54%, 19%);
  border-radius: 10px;
  padding: 0.1875rem;
}

.progress-bar-thumb {
  height: 14px;
  border-radius: 10px;
  background: var(--gradient);
  width: 75%;
  position: relative;
}

.progress-bar-thumb::after {
  content: '';
  position: absolute;
  right: 2px;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.progress-values {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 700;
}

.card-usage-banner {
  position: absolute;
  background-color: white;
  min-width: 179px;
  color: var(--very-dark-blue);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  font-weight: 700;
}

.banner-value {
  font-size: 2.5rem;
  line-height: 1;
}

.banner-text {
  margin-left: 0.5625rem;
  color: var(--grayish-blue);
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

@media (min-width: 1110px) {
  body {
    background: url('/bg-desktop.png') no-repeat bottom, var(--very-dark-blue);
    background-size: 100% 50%;
  }

  .main {
    flex-direction: row;
    align-items: end;
    gap: 1.875rem;
  }

  .card-company {
    padding-right: 8.375rem;
  }

  .card-usage {
    flex-grow: 1;
    text-align: left;
    padding: 2.5rem;
  }

  .card-usage-banner {
    transform: translate(51px, -60%);
    top: 0;
    right: 0;
    max-width: 179px;
    max-height: 72px;
    border-bottom-right-radius: 0;
  }

  .card-usage-banner::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22px 22px 0;
    border-color: transparent #ffffff transparent transparent;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
  }
}
